<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312875673880-df8poebtie5r6r1b6i1727tv65qgpmaa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312875673880-df8poebtie5r6r1b6i1727tv65qgpmaa</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ1SCBDusmqlAS6rpN2TS-wECUXTcIFjg</string>
	<key>GCM_SENDER_ID</key>
	<string>312875673880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dreamJournal</string>
	<key>PROJECT_ID</key>
	<string>dream-journal-58639</string>
	<key>STORAGE_BUCKET</key>
	<string>dream-journal-58639.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312875673880:ios:2c86b17795d2552597966d</string>
</dict>
</plist>